{% extends "parent.html" %}
{% block title %}Home Blog{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/home.css">
{% endblock %}

{% block page_name %}Inter-site service deployment PoC{% endblock %}

{% block body %}
<div class="blog">
    <table>
        <caption>Inter-site services Blog Entries</caption>
        <thead>
            <tr>
                <th>Name</th>
                <th>Global</th>
                <th>Type</th>
                <th>Resources</th>
                <th>Interconnections</th>
            </tr>
        </thead>
    </table>
</div>
<div class="error">
</div>

<!-- Handlebars script tag entry -->
{% raw %}
<script id="blog-table-template" type="text/x-handlebars-template">
    <tbody>
        {{#each services}}
        <tr data-service_global="{{service.service_global}}" >
            <td class="name">{{service_name}}</td>
            <td class="global">{{service_global}}</td>
            <td class="type">{{service_type}}</td>
            <td class="resources">{{service_resources}}</td>
            <td class="interconnections">{{service_interconnections}}</td>
        </tr>
        {{/each}}
    </tbody>
</script>
{% endraw %}

{% endblock %}

{% block javascript %}
{{ super() }}
<script src="/static/js/home.js"></script>
{% endblock %}