{% extends "parent.html" %}
{% block title %}Services{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="/static/css/services.css">
{% endblock %}
{% block page_name %}Inter-site service Create{% endblock %}

{% block body %}
<div class="container">
    <input id="url_service_global" type="hidden" value="{{ service_global }}" />
    <div class="section editor">
        <div>
            <span>New Inter-site Service:</span>
            <span id="service_global"></span>
            <br />
        </div>
        <label for="name">Name
            <input id="service_name" type="text"/>
        </label>
        <br />
        <label for="type">Type
            <select id="service_type" name="type">
                <option value="L2">Layer 2 network extension</option>
                <option value="L3">Layer 3 routing</option>
            </select>
        </label>
        <br />
        <!--<label for="params">Params
                <input id="service_params" type="text" />
            </label>
            <br />-->
        <label for="resources">Resources
            <div class="resource_container" id="resource_container">
            
                <br />
                <input id="service_resources1" type="text" maxlength="200" class="service_resources1 service_input" placeholder="Resource Region name #1"/>
                <input id="service_resources2" type="text" maxlength="200" class="service_resources2 service_input" placeholder="Resource uuid #1"/>
                <br />
                <input id="service_resources3" type="text" maxlength="200" class="service_resources3 service_input" placeholder="Resource Region name #2"/>
                <input id="service_resources4" type="text" maxlength="200" class="service_resources4 service_input" placeholder="Resource uuid #2"/>
                <br />
            <input type="hidden" value="4" id="total_chq">
            <input type="hidden" value="5" id="total_index_1">
            <input type="hidden" value="6" id="total_index_2">
            </div>
        </label>
        <!--<label for="interconnections">Interconnections
                <input id="service_interconnections" type="text" maxlength="200" class="service_interconnections"/>
            </label>-->
        <br />
        <button id="create">Create</button>
        <!--<button id="update">Update</button>-->
        <!--<button id="delete">Delete</button>-->
        <button id="reset">Reset</button>
        <button class="add_resource">New resource element</button>
    </div>
    <!-- <div class="services">
            <table>
                <caption>Inter-site services</caption>
                <thead>
                    <tr>
                        <th>Global ID</th>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Params</th>
                        <th>Resources</th>
                        <th>Interconnections</th>
                    </tr>
                </thead>
            </table>
        </div> -->
    <div class="error">
    </div>
</div>
<div class="error">
</div>

<!-- Handlebars script tag entry
{% raw %}
<script id="services-table-template" type="text/x-handlebars-template">
    <tbody>
        {{#each services}}
        <tr data-service_global="{{service_global}}" data-service_type="{{service_type}}" data-service_name="{{service_name}}" data-service_params="{{service_params}}" data-service_resources="{{#each service_resources}}{{resource_region}} {{resource_uuid}}*{{/each}}" data-service_interconnections="{{#each service_interconnections}} {{interconnexion_uuid}} {{/each}}">
            <td class="global">{{service_global}}</td>
            <td class="name">{{service_name}}</td>
            <td class="type">{{service_type}}</td>
            <td class="params">{{service_params}}</td>
            <td class="resources">{{#each service_resources}}{{resource_region}} {{resource_uuid}} <br> {{/each}}</td>
            <td class="interconnections">{{#each service_interconnections}}{{interconnexion_uuid}} <br> {{/each}}</td>
        </tr>
        {{/each}}
    </tbody>
</script>
{% endraw %} -->

{% endblock %}

{% block javascript %}
{{ super() }}
<script src="/static/js/services.js"></script>
{% endblock %}